<div class="mb-3 newpost">
  <label>What's on your mind?</label
  ><input type="email" class="form-control" id="title" placeholder="Title">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"></label>
  <textarea class="form-control" id="body" rows="3" placeholder="Rainy days are best for..."></textarea>
</div>
<div class="d-grid gap-2">
  <button id="post" type="button" class="btn btn-dark">Post</button>
</div>