:root {
    --border-color: #ba2424;
    --text-color: #050505;
    --icon-bg-color: #f5f5f5;
    --icon-color: #414141;
    --search-bg: #e5e5e5;
    --active-color: #0000000a;
    --border-color: #e5e5e5;
    --message-icon-color: #0099ff;
    --fd-message-bg: #d8f4e4;
    --fd-message1-bg: #fee9a6;
    --my-message-bg: #da29da50;
    --my-message-color: #fff;
    --fd-message-color: #050505;
    --image-border-color: rgb(155, 153, 153);
    --active-icon-color: #5ad539;
    --hover-color: #bcbcc091;
    --text-white: white;
    --selected-friend-bg: #ca39ca;
    --icon-color: #c61bc6;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  
  .container{
    width: 40%;
  }

  title {
    font-family: 'Abril Fatface', cursive;
  }